@import "fibonacci-styles";

$background-color: get-fib-color(gray, 5, high) !default;
$on-hover-background-color: get-fib-color(gray, 1, high) !default;
$border-color: get-fib-color(gray, 9, high) !default;
$on-hover-border-color: get-fib-color(gray, 10, high) !default;
$disabled-color: find-fib-color(disabled);

label, button {
    font-family: Arial;
}

button {
    cursor: pointer;
}

.disabled {
    cursor:default !important;
    
    opacity: 50%;
    // border-color: darken($disabled-color, $fib-6 * 1%) !important;
    // background: $disabled-color;
}